worker_processes  1;

events {
    worker_connections  1024;
}

http {
  index    index.html index.htm index.php;

  server {
    listen                  80;
    set                     $base /var/www;
    root                    $base/html;

    # index.php
    index                   index.html;

  }
}
