worker_processes  1;

events {
    worker_connections  1024;
}

http {
  upstream myproject {
    server {{ web_server }};
  }

  server {
    listen 80;
    location / {
      proxy_pass http://myproject;
    }
  }
}
